body {
  color: #49230A;
  font-family: 'PT Sans', sans-serif;
}

.btn-info {
  color: #49230A;
  background-color: rgba(0, 119, 124, 0.5);
  // border-color: darken(#00777C, 8%);
  margin-bottom: 20px;
}
.btn-info:hover {
    color: #fff;
    background-color: rgba(0, 119, 124, 0.8);
    border-color: darken(#00777C, 8%);
}
.btn-danger {
  color: darken(#49230A, 8%);
  background-color: lighten(#d9534f, 10%);
  border-color: lighten(#d9534f, 10%);
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #49230A;
  background-color: rgba(255, 122, 35, 0.7);
  border-radius: 10%;
}
textarea.form-control {
  height: 250px;
}
h1 {
  text-align: center;
}
.form-image-preview {
  margin-top: 5px;
  width: 120px;
  height: auto;
}
.form-map-preview {
  margin: 5px;
  width: 400px;
  height: 200px;
}
div {
  padding: 5px 0 5px 0;
}
.brand-logo {
  width: 50px;
  height: 50px;
  background-image: url('../assets/Places_Notes.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-page-image {
  width: 350px;
  height: 400px;
  background-image: url('../assets/Places_Notes.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.landing-page-grid {
  // background-color: #FF7A23; n.b. opacity
}
.delete-place-show-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.google-map {
  height: 400px;
}
.landing-page {
  width: 500px;
  height: 500px;
}

.img-responsive {
  width: 375px;
  height: 250px;
}
.user-profile-name {
  text-transform: capitalize;
}

.landing-page-button {
  margin: 5px;
}


// navbar
.navbar-inverse .navbar-nav>li>a {
  color: #49230A;
}
.navbar-inverse .navbar-brand {
  color: #49230A;
}
.navbar-inverse {
    background-color: #FF7A23;
    border: none;
    // border-color: #49230A;
}
.navbar-inverse .navbar-toggle {
    border-color: #49230A;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #49230A;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: lighten(#C8601B, 5%);
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: lighten(#C8601B, 5%);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    // background-color: lighten(#C8601B, 5%);
    background-color: #FF7A23;
    border-radius: 15%;
}

// @media only screen and (max-width: 1000px) {
//   img.img-responsive {
//     width: 375px;
//   }
// }
