div {
  padding: 5px 0 5px 0;
}

.google-map {
  width: 400px;
  height: 400px;
}
.landing-page {
  width: 500px;
  height: 500px;
}
.landing-button {

}
.img-responsive {
  min-height: 250px;
}
.user-profile-name {
  text-transform: capitalize;
}
