div {
  padding: 5px 0 5px 0;
}
.delete-place-show-page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.google-map {
  height: 400px;
}
.landing-page {
  width: 500px;
  height: 500px;
}

.img-responsive {
  width: 375px;
  height: 250px;
}
.user-profile-name {
  text-transform: capitalize;
}

// @media only screen and (max-width: 1000px) {
//   img.img-responsive {
//     width: 375px;
//   }
// }
